<% include partials/header %>

<% if(typeof article === 'undefined'){ %>
    <h3>No article by that ID...please go <a href="/">home</a></h3>
  <% } else { %>
        <h2><%= article.title %></h2>
        <p><%= article.body %></p>
  <% } %>

<% include partials/footer %>
